requests
pandas
regex
beautifulsoup4
numpy
disjoint_set
scikit-learn
niteru
zstandard
paramiko
scp
dpkt
html2text
pytricia
reverse_geocoder
geoip2
maxminddb
webdriver_manager
selenium
tld
tqdm
pycountry-convert